@model LearningPortal.Models.StudentDetail
@{
    ViewData["Title"] = "StudentDetail";
    ViewData.AddActivePage(ManageNavPages.AllUsers);
}

<div class="row">
    <div class="col-md-2">
        <h2>Uživatel</h2> 
    </div>
    <div class="col-md-4" style="margin-top:20px">
        <h4>@Model.User.Email</h4>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Course
            </th>
            <th>
                Lessons
            </th>
            <th>
                Attempts
            </th>
            <th>
                Last test result
            </th>

            <th>
                Finished
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.CourseUser)
        {
            <tr>
                <td>
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.CourseId">@Html.DisplayFor(model => item.Course.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfFinishedLessons)/@Html.DisplayFor(modelItem => item.Course.NumberOfLessons)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfTests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResultPercent) %
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finished)
                </td>
            </tr>
        }
    </tbody>
</table>
