@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@model LearningPortal.Models.UsersFromCourse

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@{
    ViewData["Title"] = Model.Course.Name;
}
@section banner {

    <div class="img-responsive ">
        <img src="~/images/job_detail_benner.jpg" alt="ASP.NET" />
    </div>
}


@*---------------------------------------tlacitka----------------------------------------------------------------*@
<div class="row" style="padding-top: 20px; padding-bottom: 10px">
    <div class="col-md-6">
        <h2>@Html.DisplayFor(model => model.Course.Name)</h2>
        @if (User.IsInRole("Admin"))
            {
            <a asp-action="Edit" asp-route-id="@Model.Course.Id" class="btn btn-sm"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="Edit"></i></a>
                <a asp-action="Delete" asp-route-id="@Model.Course.Id" class="btn btn-sm"><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="Delete"></i></a>
        }
    </div>
    <div class="col-md-4" style="padding-top: 20px; padding-bottom: 10px">
        @if (!User.IsInRole("StudentCourse" + Model.Course.Id))
        {
            <form asp-action="IsStudent">
                <input type="hidden" name="id" value="@Model.Course.Id" />
                <input type="submit" value="Start study" class="btn btn-secondary btn-md" style="background-color: #00c853; " />
            </form>
        }
    </div>
    <div class="col-md-2" style="padding-top: 20px; padding-bottom: 10px">
        <a asp-action="Index" class="btn btn-secondary btn-sm" role="button" style="background-color: lightsteelblue; ">Back to courses</a>
    </div>
</div>@*---------------------------------------------------------------------------------------------------------*@

@*---------------------------------------popisek a dalsi detaily testu----------------------------------------------------------*@
<div class="row">
    <p>
        @Html.DisplayFor(model => model.Course.Description)
    </p>
</div>

<div class="row">
    <div class="col-md-3">
        <p><strong>Created:</strong>   @Html.DisplayFor(model => model.Course.Created)</p>
    </div>
    <div class="col-md-3">
        <p><strong>Number of lessons:</strong>  @Html.DisplayFor(model => model.Course.NumberOfLessons)</p>
    </div>
</div>
<hr />@*---------------------------------------------------------------------------------------------------------*@


@*---------------------------------------------------  lekce ---------------------------------------------------*@

<div class="row ">
    @foreach (var item in Model.Course.Lessons)
    {
        <div class="card " style="width: 15rem; margin-top:15px;  margin-left: 20px; margin-right: 20px;">
            <img class="card-img-top" src="~/images/businesslessonsfamousleaders.jpg" alt="Card image cap" />
            <div class="card-body">             
                    
                    <form asp-controller="Lessons" asp-action="Details" asp-route-id="@item.Id">
                            @if (!User.IsInRole("Admin"))
                            {
                        <button class="btn btn-outline-primary btn-sm" disabled role="button" title="pro zobrazení lekcí musíte začít studovat" style="border-color: #2979ff;">
                            <h6 class="card-title"> @Html.DisplayFor(model => item.Name)</h6>
                        </button>
                        <p class="card-text text-center" style="font-size:13px; padding-top:10px">Doba trvání: 5:30</p>
                            }
                            else
                            {
                                <a asp-controller="Lessons" asp-action="Details" asp-route-id="@item.Id" class=" btn btn-outline-primary btn-sm" role="button" style="border-color: #2979ff;"><strong>@Html.DisplayFor(model => item.Name)</strong></a>
                                <p class="card-text text-center" style="font-size:13px; padding-top:10px">Doba trvání: 5:30</p>
                                <a asp-action="Edit" asp-controller="Lessons" asp-route-id="@item.Id" class="btn btn-sm"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" title="Edit"></i></a>
                                <a asp-action="Delete" asp-controller="Lessons" asp-route-id="@item.Id" class="btn btn-sm"><i class="fa fa-trash-o fa-2x" aria-hidden="true" title="Delete"></i></a>
                            }
                    </form>
            </div>
        </div>
    }
</div>
<hr />



@if (User.IsInRole("Admin"))
{
    @*------------------------------------------ users ----------------------------------------------*@
    @*<h3>Students</h3>*@
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <a href="javascript:void(0)" class="btn btn-primary showLessons">Show students</a>
            </div>
        </div>
    </div>
    <div class="alllessons" style="display:none">
        <div class="row">
            <div class="col-md-12" style=" margin-top:20px;">
                @foreach (var user in Model.User)
                {
                    @Html.DisplayFor(model => user.Email)@*<br />*@
                }
            </div>
        </div>
    </div>
    <hr />
        @*---------------------------------------------------  otazky ---------------------------------------------------*@
        <h3>Questions</h3>
        <div class="row">
            <div class="col-md-3" style=" margin-top:15px;">
                @* -------- create new -------*@
                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="Questions" asp-action="Create" asp-route-id="@Model.Course.Id" class="btn btn-secondary btn-sm" role="button" style="background-color: #2979ff; ">New Question</a>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style=" margin-top:20px;">
                <div class="alert alert-info" role="alert">
                    <strong>Zopakujte si:</strong><br />
                    @foreach (var item in Model.Course.Questions)
                    {
                        <a asp-controller="Questions" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)<br /></a>
                    }
                </div>
            </div>
        </div>
        }



        @section Scripts{
            <script src="~/js/HideShow.js"></script>

        }
